body {
    font-family: Arial, sans-serif;
    background-image: url('https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/08/11/mk1-qxns4bt2xish.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

form {
    max-width: 400px;
    margin: 50px auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}